.App {
  text-align: center;
  font-family: 'Righteous', cursive, 'Montserrat', sans-serif;
  text-shadow: 2px 2px 2px darkblue;

}

h1 {
  font-size: 400%;
}

.caption {
  text-shadow: 2px 2px 2px darkblue;
  color: salmon;
}

img {
  max-width: 400px;
  max-height: 400px;
  box-shadow: 2px 2px 2px black;

}

img:hover {
  box-shadow: 20px 20px 20px black;
  border-color: black;
  max-width: 410px;
  max-height: 410px;

}

button {
  font-family: 'Righteous', cursive, 'Montserrat', sans-serif;
  background-color:cornflowerblue ;
  color: blanchedalmond;
  border-radius: 5px;
  box-shadow: 2px 2px 2px darkblue;
  font-size: 200%;
}

button:hover {
  color: white;
  text-shadow: 2px 2px 2px black;
  background-color: salmon;
  box-shadow: 3px 3px 3px black;
  border-color: black;
}